html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: radial-gradient(
    253px at 12.6% 77.9%,
    rgb(221, 255, 214) 0.3%,
    rgb(214, 254, 254) 90.5%
  );
}

section {
  margin-top: 70px;
}

h1 {
  font-size: 40px;
  position: relative;
  top: -10px;
  left: -14px;
}

small {
  font-size: x-small;
  opacity: 0.6;
}

header {
  margin: 40px 0 0 30px;
}

p {
  font-size: 13px;
  color: rgb(78, 77, 77);
}

a {
  text-decoration: none;
  color: rgb(78, 77, 77);
}

a:hover {
  color: rgb(22, 130, 166);
}

footer {
  font-size: 10px;
  position: relative;
  right: -680px;
  color: rgb(22, 130, 166);
}

.link-git {
  color: rgb(22, 130, 166);
}

.weather-app {
  border: none;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 800px;
}

.description {
  list-style-type: none;
  font-size: 12px;
  color: rgb(78, 77, 77);
  text-transform: capitalize;
}

.day-date {
  font-size: 14px;
  position: relative;
  top: -10px;
  left: -14px;
}

.btn-primary {
  background-color: rgb(22, 130, 166);
  border: none;
}

.btn-primary:hover {
  background-color: rgb(19, 97, 123);
}
.btn-success {
  background-color: rgb(226, 247, 254);
  color: rgb(57, 55, 55);
  border: none;
}
.btn-success:hover {
  background-color: rgb(162, 196, 207);
  color: rgb(57, 55, 55);
}

.col-2 {
  width: 20%;
  padding-left: 60px;
}

.card {
  border: none;
  border-width: 2px;
  border-radius: 15px;
  box-shadow: 0.1px 1px 7px #cbe5e5;
}

.unit-name {
  font-size: 14px;
  position: relative;
  top: -10px;
  left: 8px;
}
.units {
  font-size: 12px;
  position: relative;
  top: -12px;
  left: 10px;
}
